
/* src/components/Divider.css */
.divider {
  position: relative;
  width: 100px; /* Adjust width as needed */
  height: 2px; /* Adjust height as needed */
  background-color: white; /* Adjust color as needed */
  margin: 0 10px; /* Space between the circles and the divider */
}

.divider::after {
  content: '>';
  font-size: 1.5rem; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
  position: absolute;
  right: -10px; /* Adjust position to fit the layout */
  top: 50%;
  margin-right: 5px;
  transform: translateY(-50%);
}