/* src/components/ResponsiveLayout.css */
.left-column {
    background-color: black;
    color: white;
    padding: 10px;
  }
  .left-column img {
    max-width: 100%;
    height: auto;
  }
  .right-column {
    padding: 0px;
  }
  @media (max-width: 768px) {
    .img-left {
      display: none;
    }
}

* :focus{
    background-color: black!important;
    box-shadow: none !important;
}
  
